body {
     text-align: center;
}
 .canvas-container{
     display: flex;
     justify-content: space-around;
}
 .options{
     display: flex;
     max-height: 50px;
     max-width: 100px;
     flex-flow: row;
}
 
